/***************************/
/*          WIDTHS         */
/***************************/

@media only screen and (max-width: 1640px){
    
}

@media only screen and (max-width: 1920px){
    
}

@media only screen and (max-width: 1444px){
    
}



@media only screen and (max-width: 1289px){
    

}


@media only screen and (max-width: 1145px){
    
}

@media only screen and (max-width: 1122px){
    

}

/* ipad pro  */
@media only screen and (max-width: 1024px){

    

    
}

@media only screen and (max-width: 1016px){
    
    
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (max-width: 716px){
    
}

@media only screen and (max-width: 596px){
    
}


@media only screen and (max-width: 540px){
   


}

@media only screen and (max-width: 476px){
   
}

@media only screen and (max-width: 416px){
    

}

@media only screen and (max-width: 411px){
    
}

@media only screen and (max-width: 396px){
    

}

@media only screen and (max-width: 375px){
    
    

}

@media only screen and (max-width: 360px){
   
}

@media only screen and (max-width: 328px){
    
}

@media only screen and (max-width: 320px){
    



}

@media only screen and (max-width: 280px){
    

}

/***************************/
/*          HEIGHTS        */
/***************************/
/* @media only screen and (max-height: 812px){
    .hero-text-box{
        width: 25%;
    }
    
    .hero-text-box h1{
        font-size: 50%;
    }

    .main-nav{
        font-size: 20%;
    }
} */
