/***************************/
/*          WIDTHS         */
/***************************/

@media only screen and (max-width: 1300px){
    h1{
        padding-bottom: 0;
    }
    
    body p{
        font-size: 150%;
    }

    body{
        
        margin-right: 20%;
        margin-left: 20%;
        line-height: 400%;
    }
}

@media only screen and (max-width: 1155px){
    
    body p{
        font-size: 125%;
    }


}

@media only screen and (max-width: 865px){
    
    h1{
        font-size: 200%;
    }
    body p{
        font-size: 100%;
         
    }
    body{
        border: none;
        padding: 0;
    } 

}

@media only screen and (max-width: 600px){
    
    h1{
        font-size: 150%;
    }
    body p{
        font-size: 85%;
         
    }

}

@media only screen and (max-width: 475px){
    
    h1{
        font-size: 125%;
    }
    body{
        line-height: 300%;
    }
    body p{
        font-size: 75%;
         
    }

}

@media only screen and (max-width: 415px){
    
    h1{
        font-size: 100%;
    }
    
    body p{
        font-size: 60%;
         
    }

}

@media only screen and (max-width: 330px){
    
    h1{
        font-size: 85%;
    }
    
    body p{
        font-size: 50%;
         
    }

}




/***************************/
/*          HEIGHTS        */
/***************************/
/* @media only screen and (max-height: 812px){
    .hero-text-box{
        width: 25%;
    }
    
    .hero-text-box h1{
        font-size: 50%;
    }

    .main-nav{
        font-size: 20%;
    }
} */
