/***************************/
/*          WIDTHS         */
/***************************/

@media only screen and (max-width: 1300px){
    h1{
        padding-bottom: 0;
    }
    
    body p{
        font-size: 150%;
    }

    body{
        
        margin-right: 20%;
        margin-left: 20%;
        line-height: 400%;
    }
}

@media only screen and (max-width: 1155px){
    
    body p{
        font-size: 125%;
    }


}

@media only screen and (max-width: 730px){
    
    body p{
        font-size: 100%;
    }


}

@media only screen and (max-width: 635px){
   
    body p{
        font-size: 75%;
        
    }
}


/***************************/
/*          HEIGHTS        */
/***************************/
/* @media only screen and (max-height: 812px){
    .hero-text-box{
        width: 25%;
    }
    
    .hero-text-box h1{
        font-size: 50%;
    }

    .main-nav{
        font-size: 20%;
    }
} */
